# Product-to-Product Recommendation
============================================================

## import data

In [1]:
from numpy.core.numeric import NaN
from pandas import read_excel

In [2]:
data = read_excel("test.xlsx", sheet_name=0, na_values='n/a')

In [3]:
data.iloc[:1, :]

,id,user,brand,product,date_rev,date_buy,pros,cons,rate,rate1,...,brand_cons,brand_rate,id.1,uname,email,uavatar,youtube,approved,twitter,facebook
0,1,tYCHUoxpDZTVIYuKtrZwVcqkqni2,Apple,iPhone,2019-06-28,2018-09-01,مرن وسهل الاستخدام ومليئ بالمزايا التي تسهل عل...,الشاشة سهلة الكسر وغالية جدا وأيضا ذاكرة الصور...,1,5,...,الشاشة سهلة الكسر وغالية جدا وسعة الهاتف للصور...,4,tYCHUoxpDZTVIYuKtrZwVcqkqni2,Ghada Mohsen,NaN,NaN,NaN,0,NaN,NaN

## show columns

In [4]:
data.keys()

Index(['id', 'user', 'brand', 'product', 'date_rev', 'date_buy', 'pros',
       'cons', 'rate', 'rate1', 'rate2', 'rate3', 'rate4', 'rate5', 'rate6',
       'shown', 'brand_pros', 'brand_cons', 'brand_rate', 'id.1', 'uname',
       'email', 'uavatar', 'youtube', 'approved', 'twitter', 'facebook'],
      dtype='object')

## drop useless columns

In [5]:
for column in ["id", "date_rev", "date_buy", "pros", "shown", "cons", "brand_pros", "brand_cons", "id.1", "uname", "email", "uavatar", "youtube", "approved", "twitter", "facebook"]:
    data.drop(column, axis=1, inplace=True)
data

,user,brand,product,rate,rate1,rate2,rate3,rate4,rate5,rate6,brand_rate
0,tYCHUoxpDZTVIYuKtrZwVcqkqni2,Apple,iPhone,1,5,5,4,4,5,4,4
1,CpWUea33t4RTk9kqfvI9oUQjZwn1,Apple,iPhone XS Max,1,5,5,3,5,5,3,5
2,vicALZKqf3YavyDkvQyP46gKxK83,HTC,U Play,1,4,3,1,2,4,1,4
3,AtGRtW6YVbc9U6zn9OEvaXWQBAD2,Huawei,GR5 2017,5,5,4,5,4,4,5,4
4,EEaS6x42xoZiDZ13rN0sOXe3IkD2,Huawei,GR5 2017,1,5,5,4,4,5,4,4
5,I57YHyKaolWb1cUy6OifYuJ5n0A3,Huawei,GR5 2017,4,1,1,1,1,1,1,1
6,u8i3hxykz6MTsrvRTfd4ltHgX7j1,Huawei,GR5 2017,4,5,3,4,4,4,4,5
7,BeytpRU5Z6fDxJiJYCWZodG7rYl1,Huawei,Mate 10 lite,1,5,5,3,5,4,3,3
8,aTrVraVJXSRN15rgQ2EZ9khIZDG2,Lenovo,P2,1,1,1,1,1,1,1,1
9,UtTauIK9GlWIXVMQTUpdAvOVMbg1,Motorola,Moto G (5),4,4,3,4,3,3,5,1

## add new column "mobile" instead of "product"

In [6]:
data["mobile"] = data["brand"] + " " + data["product"]
data.drop("product", axis=1, inplace=True)
data

,user,brand,rate,rate1,rate2,rate3,rate4,rate5,rate6,brand_rate,mobile
0,tYCHUoxpDZTVIYuKtrZwVcqkqni2,Apple,1,5,5,4,4,5,4,4,Apple iPhone
1,CpWUea33t4RTk9kqfvI9oUQjZwn1,Apple,1,5,5,3,5,5,3,5,Apple iPhone XS Max
2,vicALZKqf3YavyDkvQyP46gKxK83,HTC,1,4,3,1,2,4,1,4,HTC U Play
3,AtGRtW6YVbc9U6zn9OEvaXWQBAD2,Huawei,5,5,4,5,4,4,5,4,Huawei GR5 2017
4,EEaS6x42xoZiDZ13rN0sOXe3IkD2,Huawei,1,5,5,4,4,5,4,4,Huawei GR5 2017
5,I57YHyKaolWb1cUy6OifYuJ5n0A3,Huawei,4,1,1,1,1,1,1,1,Huawei GR5 2017
6,u8i3hxykz6MTsrvRTfd4ltHgX7j1,Huawei,4,5,3,4,4,4,4,5,Huawei GR5 2017
7,BeytpRU5Z6fDxJiJYCWZodG7rYl1,Huawei,1,5,5,3,5,4,3,3,Huawei Mate 10 lite
8,aTrVraVJXSRN15rgQ2EZ9khIZDG2,Lenovo,1,1,1,1,1,1,1,1,Lenovo P2
9,UtTauIK9GlWIXVMQTUpdAvOVMbg1,Motorola,4,4,3,4,3,3,5,1,Motorola Moto G (5)

## convert data to numeric data only

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
model = LabelEncoder()
model1 = LabelEncoder()
data["new_mobile"] = model.fit_transform(data["mobile"])
data["new_brand"] = model1.fit_transform(data["brand"])
for column in ["brand", "mobile"]:
    data.drop(column, axis=1, inplace=True)
data.iloc[:, 1:]

,rate,rate1,rate2,rate3,rate4,rate5,rate6,brand_rate,new_mobile,new_brand
0,1,5,5,4,4,5,4,4,0,0
1,1,5,5,3,5,5,3,5,1,0
2,1,4,3,1,2,4,1,4,2,1
3,5,5,4,5,4,4,5,4,3,2
4,1,5,5,4,4,5,4,4,3,2
5,4,1,1,1,1,1,1,1,3,2
6,4,5,3,4,4,4,4,5,3,2
7,1,5,5,3,5,4,3,3,4,2
8,1,1,1,1,1,1,1,1,5,3
9,4,4,3,4,3,3,5,1,6,4

## get data from numeric values

In [9]:
print(model.classes_, model1.classes_, sep="\n")

['Apple iPhone' 'Apple iPhone XS Max' 'HTC U Play' 'Huawei GR5 2017'
 'Huawei Mate 10 lite' 'Lenovo P2' 'Motorola Moto G (5)']
['Apple' 'HTC' 'Huawei' 'Lenovo' 'Motorola']

## Make custom knn class

In [10]:
from sklearn.neighbors import NearestNeighbors
import os

In [11]:
class MyKNN:
    def __init__(self, path_to_data):
        self.data_path = path_to_data
        self.model = NearestNeighbors()
    
    def set_model_params(self, n_neighbors=5, algorithm="auto", metric="euclidean", n_jobs=None):
        '''
            Parameters
            ----------
            n_neighbors: int, optional (default = 5)
            
            algorithm: {'auto', 'ball_tree', 'kd_tree', 'brute'}, optional
            
            metric: string or callable, default 'minkowski', or one of
                ['cityblock', 'cosine', 'euclidean', 'l1', 'l2', 'manhattan']
            
            n_jobs: int or None, optional (default=None)
        '''
        if n_jobs and (n_jobs > 1 or n_jobs == -1):
            os.environ['JOBLIB_TEMP_FOLDER'] = '/tmp'
        self.model.set_params(**{
            "n_neighbors": n_neighbors,
            "algorithm": algorithm,
            "metric": metric,
            "n_jobs": n_jobs
        })
    
    def _inference(self, model, data, mobile_index, n_recommendations):
        model.fit(data)
        distances, indices = model.kneighbors([data.iloc[mobile_index, :]], n_neighbors= n_recommendations+1)
        raw_recommends = sorted(
            list(
                zip(
                    indices.squeeze().tolist(),
                    distances.squeeze().tolist()
                )
            ), key=lambda x: x[1]
        )[:0:-1]
        return raw_recommends
    
    def get_data(self, index):
        data = read_excel(self.data_path, sheet_name=0, na_values='n/a')
        for column in ["id", "date_rev", "date_buy", "pros", "shown", "cons", "brand_pros", "brand_cons", "id.1", "uname", "email", "uavatar", "youtube", "approved", "twitter", "facebook"]:
            data.drop(column, axis=1, inplace=True)
        data["mobile"] = data["brand"] + " " + data["product"]
        data.drop("product", axis=1, inplace=True)
        data.drop("brand", axis=1, inplace=True)
        data.drop(index, axis=0, inplace=True)
        return data
    
    def make_recommendations(self, index, n_recommendations):
        data = self.get_data(index)
        model_data = data.iloc[:, 1:-1]
        raw_recommends = sorted(self._inference(self.model, model_data, index, n_recommendations), key= lambda x: x[1])
        print(f"Recommendation for '{data.iloc[index, 9]}' ({index})")
        for rec in raw_recommends:
            print(f"{data.iloc[rec[0], 9]} ({rec[0]} with distance {rec[1]})")

In [12]:
data.iloc[:, 1:]

,rate,rate1,rate2,rate3,rate4,rate5,rate6,brand_rate,new_mobile,new_brand
0,1,5,5,4,4,5,4,4,0,0
1,1,5,5,3,5,5,3,5,1,0
2,1,4,3,1,2,4,1,4,2,1
3,5,5,4,5,4,4,5,4,3,2
4,1,5,5,4,4,5,4,4,3,2
5,4,1,1,1,1,1,1,1,3,2
6,4,5,3,4,4,4,4,5,3,2
7,1,5,5,3,5,4,3,3,4,2
8,1,1,1,1,1,1,1,1,5,3
9,4,4,3,4,3,3,5,1,6,4

In [13]:
recommender = MyKNN("test.xlsx")
recommender.set_model_params(2, 'auto', 'cosine', -1)
recommender.make_recommendations(0, 4)

Recommendation for 'Apple iPhone XS Max' (0)
Huawei GR5 2017 (3 with distance 0.013986702816730645)
Huawei Mate 10 lite (6 with distance 0.014549115694672654)
HTC U Play (1 with distance 0.04166666666666663)
Lenovo P2 (7 with distance 0.057190958417936644)